# VRChat MCP

このプロジェクトは VRChat API から VRChat の情報を取得できる Model Context Protocol (MCP) サーバーを開発しています。
https://github.com/MatthewDailey/figma-mcp を参考に実装しています。

## ユーザーについて
ユーザーはフロントエンドエンジニアです。ユーザーはあなたよりもコードはかけますが、時間が無いためあなたにお願いしています。なので一緒に考えて一緒につくりましょう。

## 開発の仕方

- README を必ず読むこと
  - 今後サポートしていきたい機能や実装方法が記載されています
- ドキュメントのリンクを渡されたら browser action を使って必ず読んでください
- 実装前にテストが書ける場合は書いてください。それを仕様の確認に使います。

## 実装するうえでの参考情報

- VRChat SDK: https://github.com/vrchatapi/vrchatapi-javascript?tab=readme-ov-file
- VRChat API Documentation: https://vrchatapi.github.io/docs/api/
- modelcontextprotocol/sdk: https://github.com/modelcontextprotocol/typescript-sdk